%button {
  padding: 8px 20px;
  border-radius: 4px;
  background-color: $primary-100;
  border: none;
  color: #fff;
  font-size: 0.75rem;
  letter-spacing: 2px;
  font-family: $default_font_family;
  cursor: pointer;
}
