@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Yantramanav:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* NAVBAR SECTION */

nav {
  background-color: transparent;
  position: relative;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 90px;
  max-height: 90px;
}

nav .container .logo img {
  max-width: 210px;
}

nav .container .nav-links-main {
  display: inline-flex;
  flex-wrap: wrap;
  text-align: left;
  gap: 1px 20px;
  padding: 0 10px;
}

nav .container .nav-links-main li {
  display: inline-flex;
  align-self: center;
  justify-content: center;
}

nav .container .nav-links-main li a {
  font-size: 13px;
  font-weight: 500;
  color: #fff;

  transition: all 0.2s ease;
}

nav .container .nav-links-main li:hover a {
  opacity: 0.8;
}

nav .container .nav-links-main li a i {
  opacity: 0.8;
  font-size: 9px;
}

nav .container .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .container .nav-links li {
  padding: 0 10px;
}

nav .container .nav-links li a {
  color: #fff;
}

nav .container .nav-links li a i {
  font-size: 20px;
}

nav .container .nav-links li a span {
  font-size: 13px;
  margin-left: 4px;
}

nav .container .nav-links-main .has-drop {
  line-height: 5;
}

nav .container .nav-links-main .has-drop:hover .dropdown-menu {
  display: block;
  opacity: 1;
  visibility: visible;
  margin-top: 10px;
  top: 80%;
  animation: dropdownAnimation 0.3s ease;
}

@keyframes dropdownAnimation {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

nav .container .nav-links-main .has-drop .dropdown-menu {
  min-width: 840px;
  padding: 24px;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  top: 50%;
  left: 520px;
  margin-top: 10px;
  visibility: hidden;
  opacity: 0;
  border: none;
  position: absolute;
  line-height: 1;
}

.dropdown-menu .cont {
  width: 23%;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.dropdown-menu .cont a {
  position: relative;
}

.dropdown-menu .cont a h4 {
  padding: 8px 0;
  color: #333;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  transition: all 0.3s ease;
}

.dropdown-menu .cont a .tip {
  width: 27px;
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -15px;
  left: 92%;
  margin-left: -60px;
  font-size: 9px;
}

.dropdown-menu .cont a .tip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: red transparent transparent transparent;
}

.dropdown-menu .cont a .green_tip {
  width: 55px;
  background-color: #29c093;
  left: 60%;
}
.dropdown-menu .cont a .green_tip::after {
  border-color: #29c093 transparent transparent transparent;
}

.dropdown-menu .cont a:hover h4 {
  color: #29c093;
}

.dropdown-menu .cont .cont_inside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.dropdown-menu .cont .cont_inside li {
  align-self: flex-start;
  padding: 8px 0;
  transition: all 0.3s ease;
}

.dropdown-menu .cont .cont_inside li a:hover {
  color: #29c093;
}

.dropdown-menu .cont .cont_inside li a {
  font-size: 14px;
  line-height: 1.3;
  color: #848484;
}

/* HEADING SECTION */

.contain_head {
  position: relative;
}

.heading .doctor_img {
  background-color: #2e97d8;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.heading .underscode {
  bottom: 0;
  position: absolute;
  fill: #fff;
}

.heading .container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 130px;
  padding-bottom: 238px;
}

.heading .container .desc {
  width: 50%;
}

.heading .container .desc .first {
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  font-family: "Yantramanav", sans-serif;
  font-weight: 300;
  margin-bottom: 10px;
  display: inline-block;
}

.heading .container .desc h4 {
  font-size: 76px;
  line-height: 86px;
  color: #fff;
  font-family: "Yantramanav", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.heading .container .desc .last {
  font-size: 16px;
  line-height: 26px;
  color: #ffffffcc;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 30px;
  display: block;
  width: 520px;
}

.heading .container .desc .read {
  margin-right: 15px;
  margin-bottom: 10px;
  background-color: #fff;
  color: #333;
  padding: 13px 24px;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border: 0 solid transparent;
  border-radius: 0;
  transition: all 0.2s ease;
}

.heading .container .desc .read:hover {
  background-color: #e8e8e8;
}

.heading .container .desc .about {
  margin-right: 15px;
  margin-bottom: 10px;
  color: #fff;
  padding: 11px 24px;
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border: 2px solid #96c8ea;
  transition: all 0.2s ease;
}

.heading .container .desc .about:hover {
  border: 2px solid #fff;
}

.heading .container .desc a i {
  margin-right: 6px;
}

/* WORKING HOURS SECTION */

.working_hours {
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 50px;
}

.working_hours .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.working_hours .cards .card {
  width: calc(1120px / 4);
  padding: 8px;
  margin: 0 10px 20px 10px;
  position: relative;
}

.working_hours .cards .card:first-child {
  background-color: #29c093;
  padding: 30px 20px;
  margin: 0 10px;
  margin-bottom: 20px;
}

.working_hours .cards .card h4 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 22px;
  font-family: "Yantramanav", sans-serif;
  line-height: 32px;
  font-weight: 500;
}

.working_hours .cards .card .time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;
}

.working_hours .cards .card .time p {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  line-height: 23px;
  color: #fff;
}

.working_hours .cards .card .time p:first-child {
  margin-right: auto;
}

.working_hours .cards .card .time p:last-child {
  margin-left: auto;
}

.working_hours .cards .card .time::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0.5px;
  width: 100%;
  background-color: #fff;
  opacity: 0.4;
}

.working_hours .cards .card .time:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.working_hours .cards .card .time:last-child::after {
  display: none;
}

.working_hours .cards .custom {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 55px;
  background-color: #eef4f7;
}

.working_hours .cards .custom .content .flex_item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: -60px;
}

.working_hours .cards .card .content .flex_item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.working_hours .cards .card .content .flex_item .icon i {
  padding: 20px;
  font-size: 60px;
  color: #29c093;
  background-color: #fff;
  border-radius: 50%;
}

.working_hours .cards .card .content .flex_item h4 {
  font-size: 22px;
  line-height: 32px;
  color: #000;
  font-family: "Yantramanav", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.working_hours .cards .card .content ul {
  margin-bottom: 30px;
}

.working_hours .cards .card .content ul li {
  display: flex;
  align-items: center;
  justify-content: inherit;
  margin-bottom: 23px;
  color: #777777;
  font-size: 14px;
}

.working_hours .cards .card .content ul li i {
  margin-right: 20px;
  margin-left: 10px;
  font-size: 11px;
  vertical-align: center;
}

/* LAB SECTION */
.lab {
  background-color: #eef4f7;
  background-image: url(https://a6n4d3q9.rocketcdn.me/wp-content/uploads/2020/04/medical-bg-2.png?id=31281);
  background-repeat: no-repeat;
  background-position: right 250px;
  position: relative;
}

.lab .container {
  margin-top: 40px;
  margin-bottom: 70px;
  padding-bottom: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lab .container .right,
.lab .container .left {
  width: 50%;
}

.lab .container .left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.lab .container .left .img {
  width: 540px;
  height: 385px;
}

.lab .container .left .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lab .container .left i {
  padding: 20px;
  font-size: 60px;
  color: #fff;
  background-color: #29c093;
  font-size: 39px;
  align-self: flex-start;
  margin-bottom: -40px;
  margin-left: 20px;
  z-index: 10;
}

.lab .container .right {
  margin: 45px 0 40px 50px;
  padding: 25px 0 0 15px;
}

.lab .container .right p:first-child {
  font-size: 13px;
  line-height: 23px;
  color: #29c093;
  display: inline-block;
  margin-bottom: 10px;
}

.lab .container .right h4 {
  line-height: 46px;
  font-size: 36px;
  max-width: 70%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.lab .container .right .sec_ch {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-family: "Inter", sans-serif;
  max-width: 75%;
  margin-bottom: 20px;
}

.lab .container .right .bars .marg_btm {
  margin-bottom: 12px;
}

.lab .container .right .bars .bar {
  position: relative;
  margin-right: 45px;
}

.lab .container .right .bars .bar .main_bar {
  background-color: #f7f7f7;
  padding: 9px 14.4px;
  text-transform: uppercase;
}
.lab .container .right .bars .bar .main_bar small {
  z-index: 99;
  position: relative;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  color: #777777;
}

.lab .container .right .bars .bar .color_bar {
  background-color: rgb(41, 192, 147);
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  z-index: 0;
}

/* SALE SECTION */
.sale {
  background-image: url(https://a6n4d3q9.rocketcdn.me/wp-content/uploads/2020/04/medical-bg-3-opt.png?id=31066);
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
  margin-bottom: 60px;
}

.sale .container .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.sale .container .heading .left {
  width: 34%;
}

.sale .container .heading .left .content {
  margin-bottom: 30px;
  padding: 0 15px;
}

.sale .container .heading .left .content h4 {
  font-size: 36px;
  line-height: 46px;
  color: #000;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.sale .container .heading .left .content p {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}

.sale .container .heading .right {
  width: 66%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sale .container .heading .right a {
  font-size: 13px;
  font-family: "Inter", sans-serif;
  color: #000;
  font-weight: 600;
  transition: all 0.2s ease;
}

.sale .container .heading .right a::after {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #29c093;
}

.sale .container .heading .right a:hover {
  color: #777777;
}

.sale .container .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 3;
}

.sale .container .cards .card {
  width: calc(1120px / 3);
  padding: 20px;
  margin: 0 10px 20px 10px;
  position: relative;
  overflow: hidden;
  background-color: #f2f2f2;
}

.sale .container .cards .card .image {
  height: 273px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sale .container .cards .card .image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.sale .container .cards .card .top_info {
  display: flex;
  flex-direction: column;
}

.sale .container .cards .card .top_info .main_desc {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Yantramanav", sans-serif;
  color: #000;
  font-weight: 600;
}
.sale .container .cards .card .top_info .sub_desc {
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 23px;
  font-family: "Inter", sans-serif;
  color: #a5a5a5;
}

.sale .container .cards .card .price {
  display: flex;
  flex-direction: column;
  height: 40px;
}

.sale .container .cards .card .price del {
  font-size: 14px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  color: #bbbbbb;
}

.sale .container .cards .card .price span {
  font-size: 15px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: #29c093;
  font-weight: 600;
}

.sale .container .cards .card .label span {
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 10px;
  min-height: 50px;
  border-radius: 50%;
  font-size: 14px;
  background-color: #29c093;
  color: #fff;
  font-weight: 600;
}

.sale .container .cards .card .shop_label {
  position: absolute;
  bottom: 10px;
  right: 15px;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  transform: translateX(20px);
  opacity: 0;
  transition: all 0.4s ease;
}

.sale .container .cards .card:hover .shop_label {
  transform: translateX(0);
  opacity: 1;
}

.sale .container .cards .card .shop_label a {
  color: #000;
  padding: 15px;
  position: relative;
}

.sale .container .cards .card .shop_label a i {
  font-size: 18px;
}

.sale .container .cards .card .shop_label a .tooltiptext {
  opacity: 0;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px 0;

  position: absolute;
  z-index: 1;
  top: 5px;
  right: 120%;
  font-size: 13px;
  transition: all 0.2s ease;
}

.sale .container .cards .card .shop_label a:hover .tooltiptext {
  opacity: 1;
}

.sale .container .cards .card .shop_label a .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

/* LAB2 SECTION */
.lab2 {
  background-image: none;
}

.lab2 .container {
  margin-top: 60px;
  margin-bottom: -70px;
  padding-bottom: 100px;
}

.lab2 .container .left {
  align-items: flex-start;
}

.lab2 .container .right {
  margin-left: 10px;
  margin-top: 0;
  padding-top: 0;
}

.lab2 .container .left .img {
  width: 520px;
  height: 545px;
}

.lab2 .container .right .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.lab2 .container .right .cards .card {
  width: calc(550px / 2);
  position: relative;
  overflow: hidden;
  padding: 30px;
  background-color: #fff;
  transition: all 0.4s ease;
}

.lab2 .container .right .cards a {
  color: #000;
}

.lab2 .container .right .cards .card i {
  font-size: 35px;
  color: #29c093;
  margin-bottom: 20px;
}

.lab2 .container .right .cards .card h4 {
  font-size: 18px;
  line-height: 28px;
  max-width: 100%;
  color: #000;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.lab2 .container .right .cards .card p {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-family: "Inter", sans-serif;
}

.lab2 .container .right .cards a:hover .card {
  background-color: #29c093;
}

.lab2 .container .right .cards a:hover .card h4,
.lab2 .container .right .cards a:hover .card i {
  color: #fff;
}

.lab2 .container .right .cards a:hover .card p {
  color: #ffffffcc;
}

/* SALE2 SECTION */
.sale2 {
  background-image: url(https://a6n4d3q9.rocketcdn.me/wp-content/uploads/2020/04/medical-bg-4-opt.png?id=31067);
  background-repeat: no-repeat;
  background-position: right;
  position: relative;
  background-color: #f9f9f9;
}

.sale.sale2 {
  margin-bottom: 0;
}

.sale2 .container .cards_s {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 4;
  gap: 20px;
  overflow: hidden;
  padding-bottom: 100px;
}

.sale2 .container .cards_s .card {
  width: calc(1120px / 4);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.12);

  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.sale2 .container .cards_s .card .image {
  width: 100%;
  height: 184px;
  position: relative;
}

.sale2 .container .cards_s .card .image .main_img {
  overflow: hidden;
}

.sale2 .container .cards_s .card .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.7s ease;
}

.sale2 .container .cards_s .card .image .time {
  width: 53px;
  height: 56px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
}

.sale2 .container .cards_s .card .image .time .day {
  font-size: 24px;
  line-height: 24px;
  color: #333333;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-bottom: 5px;
}

.sale2 .container .cards_s .card .image .time .month {
  font-size: 12px;
  line-height: 13px;
  color: #333333;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.sale2 .container .cards_s .card .image .label {
  position: absolute;
  bottom: -10px;
  left: calc(280px / 6);
  background-color: #29c093;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10px;
  height: 25px;
}

.sale2 .container .cards_s .card .image .label a {
  font-size: 12px;
  color: #fff;
  font-weight: 600;
}

.sale2 .container .cards_s .card .content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sale2 .container .cards_s .card .content .main_desc {
  text-align: center;
  text-decoration: none;
  color: #000;
  font-size: 17.5px;
  line-height: 1.4;
  margin-bottom: 10px;
  font-weight: 500;
  transition: all 0.2s ease;
  margin-top: 0;
}
.sale2 .container .cards_s .card .content .main_desc:hover {
  color: #777777;
}

.sale2 .container .cards_s .card .content .user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.sale2 .container .cards_s .card .content .user .image {
  width: 18px;
  height: 18px;
  margin: 0 5px;
}

.sale2 .container .cards_s .card .content .user .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.sale2 .container .cards_s .card .content .user span,
.sale2 .container .cards_s .card .content .user i {
  margin-right: 10px;
}

.sale2 .container .cards_s .card .content .user span {
  font-size: 14px;
  line-height: 24px;
  color: #bbbbbb;
}

.sale2 .container .cards_s .card .content .user i {
  font-size: 14px;
  color: #bbbbbb;
}

.sale2 .container .cards_s .card .content p {
  font-size: 14px;
  color: #777777;
  text-align: center;
}

.sale2 .container .cards_s .card .content .last_a {
  font-size: 13px;
  color: #29c093;
  font-weight: 600;
  transition: all 0.2s ease;
  margin-top: 20px;
  margin-bottom: 0;
  position: relative;
  display: inline-block;
}

.sale2 .container .cards_s .card .content .last_a:hover {
  color: #29c093;
}

.sale2 .container .cards_s .card .content .last_a:hover:after {
  content: "...";
  position: absolute;
  right: -15px;
  animation: moveDots 0.5s infinite ease-in-out;
}

@keyframes moveDots {
  0% {
    right: -15px;
  }
  50% {
    right: -11px;
  }
  100% {
    right: -15px;
  }
}

.sale2 .container .cards_s .card:hover .image .main_img img {
  transform: scale(1.03);
  filter: brightness(0.5);
}

.sale2 .container .cards_s .card .image .dots {
  position: absolute;
  top: 45%;
  left: 45%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.sale2 .container .cards_s .card .image .dots span {
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(-70px);

  z-index: 99;
}

.sale2 .container .cards_s .card:hover .image .dots span {
  opacity: 1;
  transform: translateX(0);
}

.sale2 .container .cards_s .card .image .dots span {
  display: block;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 4px;
  margin-right: 5px;
}

.sale2 .container .cards_s .card .image .dots .fir {
  transition-delay: 0.3s;
}

.sale2 .container .cards_s .card .image .dots .sec {
  transition-delay: 0.2s;
}

.sale2 .container .cards_s .card .image .dots .thi {
  transition-delay: 0.1s;
}

/* CONTACT SECTION*/

.contact {
  background-color: #eef4f7;
}

.contact .container {
  padding: 80px 0 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 2;
  position: relative;
}

.contact .container .right,
.contact .container .left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 50%;
}

.contact .container h4 {
  font-size: 30px;
  line-height: 46px;
  color: #000;
  font-family: "Yantramanav", sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.contact .container p {
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
  text-align: center;
  max-width: 66%;
  margin-bottom: 30px;
}

.contact .container .left .form {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.contact .container .left .form input {
  width: 300px;
  height: 42px;
  border: 2px solid #e8e8e8;
  padding: 0 15px;
  font-size: 14px;
  line-height: 24px;
  color: #777777;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  margin-right: 10px;
  background-color: transparent;
  outline: none;
}

.contact .container .left .form button {
  width: 120px;
  height: 42px;
  background-color: #29c093;
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border: 0 solid transparent;
  border-radius: 0;
  transition: all 0.2s ease;
  cursor: pointer;
}

.contact .container .left .form button:hover {
  background-color: #25b188;
}

.contact .container p a {
  color: #000;
  font-weight: 600;
}

.contact .container .right .image img {
  border-radius: 50%;
  margin-bottom: 15px;
}

.contact .container .right .stars {
  margin-bottom: 10px;
}

.contact .container .right .stars i {
  color: #eabe12;
  font-size: 13px;
}

.contact .container .right p {
  max-width: 90%;
}

.contact .container .right p span {
  color: #000;
  font-weight: 600;
}

.contact .container::before {
  content: " ";
  position: absolute;
  width: 1px;
  background-color: #9e9e9e;
  height: 60%;
  top: 26%;
  opacity: 0.2;
}

/* FOOTER SECTION */
footer {
  background-color: #2e97d8;
  position: relative;
}

footer .container .top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 0 10px 0;
}

footer .container .top .card-col3 {
  width: calc(1200px / 12 * 3);
  padding: 0px 15px;
  margin-bottom: 30px;
  align-self: start;
}

footer .container .top .card-col3 {
  width: calc(1200px / 12 * 3);
  padding: 0px 15px;
  margin-bottom: 30px;
  align-self: start;
}

footer .container .top .card-col2 {
  width: calc(1200px / 12 * 2);
  padding: 0px 15px;
  margin-bottom: 30px;
  align-self: start;
}

footer .container .top .card-col3 .image {
  width: 220px;
  height: 35px;
  margin-bottom: 10px;
}

footer .container .top .card-col3 .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

footer .container .top .card-col3 p {
  font-size: 14px;
  color: #ffffffcc;
  margin-bottom: 20px;
}

footer .container .top .card-col3 .infos .info {
  margin-bottom: 10px;
  color: #ffffffcc;
  font-size: 14px;
}

footer .container .top .card-col3 .infos .info i {
  margin-right: 4px;
  font-size: 15px;
}

footer .container .top .card2 h5 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

footer .container .top .card2 ul li {
  margin-bottom: 15px;
  padding-bottom: 15px;
  display: flex;
}

footer .container .top .card2 ul li .image {
  width: 125px;
  height: 65px;
}

footer .container .top .card2 ul li .image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

footer .container .top .card2 ul li .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .container .top .card2 ul li .content .title {
  margin-bottom: 8px;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
}

footer .container .top .card2 ul li .content span {
  font-size: 12px;
  color: #ffffff80;
  font-weight: 400;
}

footer .container .top .card2 ul li .content span a {
  color: #ffffff80;
  font-weight: 400;
  margin-left: 5px;
}

footer .container .top .card2 ul .f_child {
  position: relative;
}

footer .container .top .card2 ul .f_child::after {
  content: "";
  position: absolute;
  width: 90%;
  height: 1px;
  background-color: #ffffff80;
  bottom: 0;
  opacity: 0.3;
}

footer .container .top .card-col2 h5 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

footer .container .top .card-col2 ul li {
  margin-bottom: 15px;
  font-size: 14px;
}

footer .container .top .card-col2 ul li a {
  color: #ffffff80;
}

footer .container .bottom {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 2;
  position: relative;
}

footer .container .bottom .left {
  width: 50%;
  color: #ffffffcc;
  font-size: 13px;
  line-height: 1.2;
}

footer .container .bottom .left a {
  color: #fff;
  font-weight: 500;
}

footer .container .bottom .left strong {
  color: red;
  font-weight: 500;
}

footer .container .bottom .right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

footer::before {
  content: "";
  position: absolute;
  background-color: #ffffff80;
  height: 1px;
  opacity: 0.3;
  width: 100%;
  bottom: 60px;
}
