
div {
    width: 1500px;
    height: 780px;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100px;
    height: 100px;
}

h1 {
    background-color: black;
    color: white;
}

h2 {
    background-color: black;
    color: white;
}

h3 {
    background-color: black;
    color: white;
}

h4 {
    background-color: black;
    color: white;
}
