* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
}

a {
  color: #4561ec;
}

a:hover {
  color: #4561ec;
  text-decoration: underline;
}

.container {
  width: 480px;
  margin: 100px auto;
  padding: 20px;
}

/* Login Title Section */
.login_title {
  text-align: center;
}

.login_title img {
  width: 350px;
}

.login_title p {
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 40px;
}

/* Login Inputs Section */

.field {
  padding-top: 8px;
  padding-bottom: 12px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 7px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #666;
  font-size: 1rem;
}

label {
  font-size: 17px;
  font-weight: 500;
}

.remember_item {
  width: 20px;
  height: 13px;
}

.submit_btn {
  padding: 15px 0 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.submit_btn .submit_btn-input {
  cursor: pointer;
  color: #fff;
  background-color: #6366f1;
  border: 1px solid #6366f1;
  border-radius: 4px;
  height: 40px;
  width: 90px;
  font-size: 16px;
  font-weight: bold;
}

/* Footer Section */

.login_footer {
  text-decoration: none;
}

.login_footer .help_lnk {
  text-align: center;
  padding: 19px;
}

.login_footer .help_lnk a {
  color: #4561ec;
}
.login_footer .help_lnk a:hover {
  color: #4561ec;
  text-decoration: underline;
}

.login_footer .line {
  border: 1px solid #ccc;
}

.login_footer .term_use {
  text-align: center;
  padding-top: 9px;
}
