table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 5px;
}

tr:first-child {
    text-align: center;
}



.table3 th {
    background-color: #4CAF50;
    color: white;
}



.table3 tr:nth-child(5n-1) {
    background-color: aquamarine;
}
.table3 tr:nth-child(5n-2) {
    background-color: rgb(2, 14, 10);
    color: white;
}
.table3 tr:nth-child(5n-3) {
    background-color: rgb(70, 19, 181);
}
.table3 tr:nth-child(5n-4) {
    background-color: rgb(213, 58, 19);
}
.table3 tr:nth-child(5n) {
    background-color: rgb(203, 13, 184);
}