@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f8fb;
  font-family: "Poppins", sans-serif;
}

.package {
  width: 1140px;
  margin: 0 auto;
}

.package .container {
  margin: 50px 0;
}

.package .container .heading {
  text-align: center;
}

.package .container .heading h2 {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  margin-bottom: 15px;
}

.package .container .heading p {
  font-size: 14px;
  font-weight: 400;
  color: #979798;
}

/* CARDS SECTION */

.package .container .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;

  gap: 35px;
}

.package .container .cards .card {
  width: 31%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  overflow: hidden;

  position: relative;
}

.package .container .cards .card img {
  width: 100%;
  height: 255px;
  transition: all 0.6s ease;
}

.package .container .cards .card:hover img {
  filter: brightness(55%);
}

.package .container .cards .card .absolute_link {
  position: absolute;
  top: 105px;
  left: 112px;

  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.6s ease;
  z-index: 999;
}

.package .container .cards .card:hover .absolute_link {
  transform: translateY(0);
  opacity: 1;
}

.package .container .cards .card .absolute_link a {
  display: inline-block;
  padding: 14px 36px;
  background-color: #fd5a38;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;

  transition: all 0.3s ease;
}

.package .container .cards .card .absolute_link a:hover {
  background-color: #ff3700;
}

.package .container .cards .card .card_content {
  padding: 5px 30px 5px 15px;
}

.package .container .cards .card .card_content h3 a {
  font-size: 18px;
  font-weight: 500;
  color: #000;
  margin-bottom: 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.package .container .cards .card .card_content h3 a:hover {
  color: #ff3700;
}

.package .container .cards .card .card_content p {
  font-size: 14px;
  font-weight: 400;
  color: #979798;
  margin-bottom: 15px;
}

.package .container .cards .card .card_content .pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.package .container .cards .card .card_content .pricing .left h2 {
  color: #ff7c58;
  font-weight: 600;
}

.package .container .cards .card .card_content .pricing .right .stars {
  font-size: 15px;
  color: #ffc300;
}

.package .container .cards .card .card_content .pricing .right p {
  text-align: center;
}

/* FOOTER BUTTON */

.package .container .footer_btn {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.package .container .footer_btn a {
  display: inline-block;
  padding: 14px 36px;
  background-color: #fd5a38;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;

  transition: all 0.3s ease;
}

.package .container .footer_btn a:hover {
  background-color: #ff3700;
}

/* NAVBAR SECTION */

nav {
  background-color: #fff;
}

nav .container {
  width: 1140px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .container .logo {
  display: inline-block;
}

nav .container .logo img {
  width: 65px;
  height: 65px;
}

nav .container .nav-links {
  list-style: none;
  display: flex;
}

nav .container .nav-item {
  padding: 14px 0;
}

nav .container .nav-item a {
  display: inline-flex;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  font-size: 15px;
}

nav .container .nav-item a i {
  padding: 2px 0 0 4px;
}

nav .container .nav-item:first-child {
  background-color: #fd5a38;
}

nav .container .nav-item:first-child a {
  color: #fff;
}

nav .container .nav-item:hover {
  background-color: #fd5a38;
}

nav .container .nav-item:hover a {
  color: #fff;
}
