* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#register {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #4070f4;
    color: #000;
    text-decoration: none;
}

.container {
    width: 59%;
    margin: auto;
    background-color: #fff;
    margin-top: 90px;
    padding: 30px;
    border-radius: 6px;
}

/* Header Section */
.container header {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.container header span {
    text-decoration: underline;
    text-decoration-color: #4070f4;
    text-decoration-thickness: 3px;
}

/* Form Section */
.container form {
    margin-top: 16px;
    color: #333;
}

.container form .first-section .title {
    font-weight: 400;
    margin: 8px 0;
    color: #aaa;
}

.container form .first-section .form-fields .input-filed {
    width: 32%;
    display: inline-block;
    margin: 8px 0;
}

.input-filed label {
    font-size: 12px;
    font-weight: bold;
    color: #2e2e2e;
    display: block;
}

.input-filed input,
select {
    display: block;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 10px 15px;
    margin: 8px 0;
    width: 92%;
}

.input-filed input[type="date"] {
    color: #333;
}

/* Button Section */
.first-section .btn-next {
    height: 45px;
    width: 200px;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    cursor: pointer;
    font-size: 17px;
}

.first-section .btn-next i {
    margin-left: 8px;
}
